@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: kolak;
    src: url('fonts/KOLAK.TTF') format('truetype');
}

@font-face {
    font-family: arsenico;
    src: url('fonts/ArsenicaTrial-Medium.ttf') format('truetype');
}
/* TIRANDO CONFIGURAÇÕES PADRAO */
/* @import url(Mobile.css); */
body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:Quicksand;
}

p{
    margin: 0;
}

h1{
    margin: 0;
    font-family: arsenico;
}

a {
    text-decoration: none;
    color: black;
}

/* FIM CONFIGURAÇÕES PADRAO */

/* HEADER */
header {
    background-color: #F6EEE1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    font-size:1.7vw;
}

nav a {
    margin-right: 20px;
}
nav>a:hover {
    font-weight: bold;
    color: #B7AD10;
}

/* aqui estou dizendo que o ultimo elemento do nav tera a marginright zerada, em vez de 20px */
nav a:last-child {
    margin-right: 0;
}
/* FIM HEADER */

/* FOOTER */
footer {
    background-color: #DE9230;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}
/* footer a {
    color: white;
} */
.footer-div {
    /* margin-bottom: 5px; */
    display: flex;
    color: black;
}
.icon {
    font-size: 25px;
    color: white;
    background-color: #B7AD10;
    height: 50px; /* Ajustei a altura e largura para 50px para manter o tamanho do ícone */
    width: 50px;
    border-radius: 50%; /* Adicionei o border-radius para criar a forma circular */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0px; /* Ajustei a margem para centralizar os ícones */
}
/* FIM FOOTER */

/* SECTION PERFIL */
.perfil {
    display: flex;
    background-color:#F1DCC0;
    padding: 0% 4% ;
}
.perfil-div {
    width: 50%; /* Cada div da seção ocupará 50% do tamanho da seção */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1vw;
}

.se{
    padding: 0 6%;
}

.se p {
    padding-right: 4vw;
    text-align: justify;
}

.perfil h1 {
    /* font-size: 4rem; Reduzi o tamanho da fonte para que caiba em dispositivos móveis */
    font-size: min(80px,6vw);
}

.perfil p {
    margin-top: 20px; /* Adicionei margem superior para separar o parágrafo */
    font-size: min(19px,5vw);
}

.botaol{
    background-color: #DE9230;
    border-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    color: white;
}
.botao1-div{
    font-size: 2vw;
    margin-right: 5%;
}
.quadrado {
    background-color: #B7AD10;
    width: 30vw;
    height: 41vw; /* Definir a altura igual à largura para manter a proporção */
    margin-top: 0vw; /* Ajustar a margem superior para centralizar verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* Alterar para posição relativa */
    z-index: 1; /* Definir uma ordem de empilhamento maior para sobrepor a seção de educação */
    top:6vw
}

.quadrado img{
    width: 35vw;
    top: -13vw;
    position: absolute;
    padding-right: 4vw;
}

#info{
    background-color: black;
    width: 30vw;
    height: 12vw;
    position: absolute;
    top: 29vw;
    text-align: center;
}

#info h1{
    color: white;
    font-size: 3vw;
}

#info p{
    color: white;
    font-size: 1.6vw;
    margin-top: 0.4vw;
}

.sd{
    display: flex;
}

hr{
    /* height: 1vw; */
    width: 8vw;
    background-color: white;
}




