/* TIRANDO CONFIGURAÇÕES PADRAO */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    margin: 0;
}

h1{
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* FIM CONFIGURAÇÕES PADRAO */

/* HEADER */
header {
    background-color: #F6EEE1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

nav a {
    margin-right: 20px;
}

/* aqui estou dizendo que o ultimo elemento do nav tera a marginright zerada, em vez de 20px */
nav a:last-child {
    margin-right: 0;
}
/* FIM HEADER */

/* FOOTER */
footer {
    background-color: #ac9268;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 6%;
}
footer a {
    color: white;
}
.footer-div {
    margin-bottom: 5px;
    display: flex;
    color: gray;
}
.icon {
    font-size: 25px;
    color: white;
    background-color: #FDAD16;
    height: 50px; /* Ajustei a altura e largura para 50px para manter o tamanho do ícone */
    width: 50px;
    border-radius: 50%; /* Adicionei o border-radius para criar a forma circular */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 40px; /* Ajustei a margem para centralizar os ícones */
}
/* FIM FOOTER */

/* SECTION PERFIL */
.perfil {
    display: flex;
    background-color: #FDAD16;
    padding: 3% 8% ;
}
.perfil-div {
    background-color: aqua;
    width: 50%; /* Cada div da seção ocupará 50% do tamanho da seção */
}

.perfil h1 {
    font-size: 4rem; /* Reduzi o tamanho da fonte para que caiba em dispositivos móveis */
}

.perfil p {
    margin-top: 20px; /* Adicionei margem superior para separar o parágrafo */
}

.botaol{
    background-color: #334B35;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    color: white;
}
.botao1-div{
    margin-right: 10%;
}
#quadrado {
    background-color: #334B35;
    height: 200px; /* Defini uma altura fixa para o quadrado */
    width: 200px; /* Defini uma largura fixa para o quadrado */
    margin-top: 20px; /* Adicionei margem superior para separar do conteúdo anterior */
}

/* Estilos para dispositivos com largura máxima de 600px (dispositivos móveis) */
@media only screen and (max-width: 600px) {
    .perfil {
        flex-direction: column; /* Alterado para coluna para que os divs fiquem um abaixo do outro */
    }
    .perfil div {
        width: 100%; /* Nas telas menores, cada div ocupará 100% do tamanho da seção */
    }
    #quadrado {
        margin-top: 20px; /* Adicionei margem superior para separar do conteúdo anterior */
    }
}

/* SECTION EDUCA */
.educa{
    display: flex;
    background-color:#334B35;
    padding: 5%;
}
/* FIM SECTION EDUCA */

.se{
    padding: 0 20%;
}